[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "vsd"]
	path = vsd
	url = https://github.com/cyanzule/vsd
	shallow = true
	registered = true
